body{
  height: 100%;
  background-color: $body-background;
   font-family: $font-stack;
  #IdiomApp {
    font-size: 16px;
    #Header{
      margin: 0 auto;
      width: 100%;
      text-align: center;
      .description{

      }
    }
    #SearchBox{
      width: 100%;
      margin: 0 auto;
    }
  }  
}