body{
  height: 100%;
  background-color: $body-background;
   font-family: $font-stack;
  #IdiomApp {
    font-size: 16px;
    max-width: 900px;
    #Header{
      padding-top: 50px;
      @media (max-width: 768px) {
        padding-top: 30px;
      }
      margin: 0 auto;
      width: 100%;
      text-align: center;
      .logo{
        width: 300px;
        height: auto;
        margin-bottom: 25px;
        @media (max-width: 768px) {
          width: 225px;
        }
      }
      .description{
        font-size: 16px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        @media (max-width: 768px) {
          width: 100%;
        }
      }
    }
    #SearchBox{
      width: 100%;
      margin: 0 auto;
      margin-bottom: 40px;
      margin-top: 40px;
      display: relative;
      .searchField{
        display: table;
        width: 60%;
        height: 40px;
        border-radius: 0px;
        border: 0px;
        padding-left: 15px;
        margin: 0 auto;
        margin-bottom: 40px;
        @media (max-width: 768px) {
          width: 100%;
          margin-bottom: 30px;
        }
      }
      .searchField:after{
        position: absolute;
        left: 10px;
        top: 10px;
        content: "<i class=\"fa fa-search\"></i>"
      }
    }
  }  
}